PORT=3000
DATABASE_URL=your_database_url_here
PYTHON_SERVICE_URL=http://localhost:8000

#Gmail App Password
GMAIL_APP_PASSWORD="your app password here"
GMAIL_USER="youruser@here.com"

# this can be changed later 
EMAIL_FROM_NAME="Caregiver"